/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: pink;
}


/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  /*background: transparent;  !* Optional: just make scrollbar invisible *!*/
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.background-image {
  background-image: url("https://media.discordapp.net/attachments/1039313935775576164/1047037525761474570/zone20.jpg?width=1873&height=843");
  background-position: center;
  background-size: cover;
  height: 550px;
}

.background-image2 {
  background-color: #004f2f;
  background-size: cover;
  min-height: calc(100vh - 128px);
}

.background-image3 {
  background-image: url("https://www6.pbrc.hawaii.edu/logos/manoaseal_transparent.png");
  background-size: cover;
  min-height: 80vh;
}

.bg-green {
  background-color: #004f2f;
}

.bg-light-green {
  background-color: #327F60;
}

.bg-taken {
  background-color: red;
}

Alert {
  background-color: #004f2f;
}

body .navbar{
  /*--bs-navbar-active-color: var(--matr-navbar-highlight-text);*/
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  /*--bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);*/
  --bs-navbar-color: var(--matr-navbar-text-color);
  /*--bs-navbar-hover-color: var(--matr-navbar-highlight-text);*/
  font-size: 18px;
}

footer {
  color: var(--matr-navbar-text-color);
}

.header th {
  height: 200px;
  line-height: 200px;
}

#small-image {
  width: 120px;
  padding: 10px;
}

/*<<<<<<< HEAD*/
#small-padd {
  padding: 20px;
}

#medium-image {
  width: 620px;
}

#text-bg {
  padding: 7px;
  margin-right: -30px;
  background: #327F60;
}


/*=======*/
td a {
  display: block;
  position: relative;
}

td a:hover {
  background: green;
  color:#ffffff
}
/*>>>>>>> main*/

#short {
  margin-left: 100px;
  width: 1200px;
}

.swal-modal {
  background-color: #004f2f;
  border: 4px solid white;
}


.swal-title {
  color: white;
}

.swal-text{
  text-align: center;
  color: white;
}

.swal-button {
  background-color: #327F60;
  border: 2px solid white;
}